*, html 
  margin: 0
  padding: 0
  box-sizing: border-box

body 
  font-family: $font-primary
  background: $bg-primary

.container 
  max-width: 1084px
  margin: 0 auto
  padding: 15vh 15px

.section-row 
  display: flex
  gap: 3.75rem

  .left-col, .right-col 
    width: 50%

.left-col 
  display: grid 
  grid-gap: 30px
  grid-template-columns: repeat(2, auto)
  grid-template-areas: "left right" "bottom bottom"
  grid-auto-rows: auto 240px
  align-content: center
  
  .img1 
    background: url('../assets/img1.png')
    background-size: cover
    background-repeat: no-repeat
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.15)
    grid-area: left
    height: 380px

  .img2 
    background: url('../assets/img2.png')
    background-size: cover
    background-repeat: no-repeat  
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.15)
    grid-area: right
    height: 380px

  .img3 
    background: url('../assets/img3.png')
    grid-area: bottom
    background-size: cover
    background-repeat: no-repeat  
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.15)

h1 
  font-family: $font-secondary
  font-size: $h1-set
  margin-bottom: 25px

.section-sub 
  font-size: $p-set
  line-height: $p-lh-set
  margin-bottom: 8px
  font-weight: 600
  color: $color-secondary

.section-text
  font-size: $p-set
  line-height: $p-lh-set
  margin-bottom: 44px

.acc-wrapper
  width: 100%
  border-bottom: 1px solid #000

.acc-title 
  display: flex
  align-items: center
  justify-content: space-between
  height: 70px 
  cursor: pointer

  p 
    font-size: $p-set
    font-weight: $acc-font-weight
    
.acc-content 
  padding-bottom: 15px
  font-size: $acc-content-set
  line-height: $acc-content-lh-set
  padding-right: 30px