@media screen and (max-width: 920px)
  .section-row 
    gap: 2rem
  
  .left-col 
    grid-template-columns: 1fr
    grid-template-rows: 1fr 1fr 1fr
    grid-template-areas: "left right bottom"

    .img1 
      height: auto
      grid-area: left !important
      width: 100%
    
    .img2 
      height: auto 
      grid-area: right !important
      width: 100%

    .img3 
      height: auto 
      grid-area: bottom !important
      width: 100%